<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/global.js"></script>
  </head>
  <body onload="getresult();">

<div class="loader" id="loaderDiv">Loading...</div>
  <input type="hidden" id="loadCount" value="0" />
<div id="header">
<ul id="displayJobs"></ul>
</div>
  </body>
</html>
